<!--Seccion sobre mi-->
<section id="Sobre mi" class="about sobremi">
    <div class="container text-center">
      <div class="row">
        <div class="col-3 mt-4">
          <img [src]="imgmia" class="rounded-circle img-fluid w-50 perfil agrandaperfil" alt="foto perfil" title="...">
          <h5 class="letracolor acomodanombre"> {{nombre}} {{apellido}}</h5>
        </div>
        <div class="col-9 mt-4">
          <h3 style="font-family:Arial; color: brown;"> <u>{{tituloacerca}}</u></h3>
          <h4 style="font-family:'Times New Roman';">
            <p><b>{{sobremi}}</b></p>
          </h4>
        </div>
      </div>
    </div>
  </section>
