/*Footer derechos de autor*/
.textfooter{ /* Pone en el centro el texto del footer*/
    margin-top: 1rem;
}
.pt-3{ /* Acomoda el footer hacia abajo*/
    width: 100%;
    height: 15%;
    padding:0.5rem;
}