<!--Seccion educación-->
<section id="Sobre mi" class="about fondoeducacion">
    <div class="container text-center">
      <div class="row">
        <div class="col-5">
          <img [src]="imgseprogramar" class="rounded w-100 border border-5"  alt="..." title="...">
        </div>
        <div class="col-3 mt-4">
          <h2 class="movereducacion"><u>{{tituloeduca}}</u></h2>
          <p class="muevetexto" style="font-family:'Times New Roman', Times, serif ;">{{textoeduc}}
          </p>
        </div>
        <div class="col-4">
         <img [src]="imgunity" class="w-100 moverimagen border border-5 unity" alt="..." title="...">
         <img [src]="imgcolegio" class="w-50 border border-4 movercolegio">
        </div>
      </div>
    </div>
  </section>