<!--Empieza hard & soft-->
<div class="tab-pane fade" id="list-hard" role="tabpanel" aria-labelledby="list-hard-list">
    <!--HTML-->
    <div class="modal-content px-5">
      <div class="row">
        <div class="col-6 mb-3">
          <label for="html" class="col-sm-2 col-form-label">HTML</label>
          <input type="text" class="form-control" id="html">
        </div>
        <div class="col-6 mb-3">
          <label for="procentaje" class="col-sm-2 col-form-label">Porcentaje</label>
          <input type="text" class="form-control" id="porcentaje">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
          <button type="button" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
    <!--CSS-->
    <div class="modal-content px-5">
      <div class="row">
        <div class="col-6 mb-3">
          <label for="css" class="col-sm-2 col-form-label">CSS</label>
          <input type="text" class="form-control" id="css">
        </div>
        <div class="col-6 mb-3">
          <label for="procentaje" class="col-sm-2 col-form-label">Porcentaje</label>
          <input type="text" class="form-control" id="porcentaje">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
          <button type="button" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
    <!--JAVASCRIPT-->
    <div class="modal-content px-5">
      <div class="row">
        <div class="col-6 mb-3">
          <label for="javascript" class="col-sm-2 col-form-label">JAVASCRIPT</label>
          <input type="text" class="form-control" id="javascript">
        </div>
        <div class="col-6 mb-3">
          <label for="procentaje" class="col-sm-2 col-form-label">Porcentaje</label>
          <input type="text" class="form-control" id="porcentaje">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
          <button type="button" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
    <!--ANGULAR-->
    <div class="modal-content px-5">
      <div class="row">
        <div class="col-6 mb-3">
          <label for="angular" class="col-sm-2 col-form-label">ANGULAR</label>
          <input type="text" class="form-control" id="angular">
        </div>
        <div class="col-6 mb-3">
          <label for="procentaje" class="col-sm-2 col-form-label">Porcentaje</label>
          <input type="text" class="form-control" id="porcentaje">
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
          <button type="button" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
    <!--JAVA-->
    <div class="modal-content px-5">
      <div class="row">
        <div class="col-6 mb-3">
          <label for="java" class="col-sm-2 col-form-label">JAVA</label>
          <input type="text" class="form-control" id="java">
        </div>
        <div class="col-6 mb-3">
          <label for="procentaje" class="col-sm-2 col-form-label">Porcentaje</label>
          <input type="text" class="form-control" id="porcentaje">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
          <button type="button" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
    <!--INGLES-->
    <div class="modal-content px-5">
      <div class="row ">
        <div class="col-6 mb-3">
          <label for="ingles" class="col-sm-2 col-form-label">INGLES</label>
          <input type="text" class="form-control" id="ingles">
        </div>
        <div class="col-6 mb-3">
          <label for="procentaje" class="col-sm-2 col-form-label">Porcentaje</label>
          <input type="text" class="form-control" id="porcentaje">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
          <button type="button" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
    <!--HABILIDADES BLANDAS-COMPAÑERISMO-->
    <div class="modal-content px-5">
      <div class="row">
        <div class="col-6 mb-3">
          <label for="habilidadesblandas" class="col-sm-2 col-form-label">HABILIDADES BLANDAS-COMPAÑERISMO</label>
          <input type="text" class="form-control" id="habilidadesblandas">
        </div>
        <div class="col-6 mb-3">
          <label for="procentaje" class="col-sm-2 col-form-label">Porcentaje</label>
          <input type="text" class="form-control" id="porcentaje">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
          <button type="button" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
    <!--HABILIDADES DURAS-COMUNICACIÓN-->
    <div class="modal-content px-5">
      <div class="row">
        <div class="col-6 mb-3">
          <label for="habilidadesduras" class="col-sm-2 col-form-label">HABILIDADES DURAS-COMUNICACIÓN</label>
          <input type="text" class="form-control" id="habilidadesduras">
        </div>
        <div class="col-6 mb-3">
          <label for="procentaje" class="col-sm-2 col-form-label">Porcentaje</label>
          <input type="text" class="form-control" id="porcentaje">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
          <button type="button" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
  <!--Finaliza hard & soft-->
