<!--Empieza experiencia-->
<div class="tab-pane fade" id="list-experiencia" role="tabpanel" aria-labelledby="list-experiencia-list">
    <div class="modal-content px-5">
      <div class="mb-3 row">
        <h2><u>Trabajo Laboral</u></h2>
        <label for="banner" class="form-label">Imagen 1</label>
        <div class="col-sm-10">
          <input class="form-control" type="file" id="bannerUno">
          <div class="modal-footer acomodarbotones">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
            <button type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Finaliza experiencia-->
