<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <img src="../../assets/Img/LOGO ARGENTINA PROGRAMA.png" alt="" width="30%" height="">
        </a>
        <!-- Pone Los logos de las redes sociales-->
        <ul class="list-group list-group-horizontal redesresponsive">
          <li class="list-group-item"><a href="https://www.instagram.com/luccas_pranteda/" target="_blank"><i
                class="fa-brands fa-instagram fa-2xl"></i></a></li>
          <li class="list-group-item"><a href="https://www.youtube.com/channel/UCbP4r-Gon_ghltKoTgjFvgQ" target="_blank"><i
                class="fa-brands fa-youtube fa-2xl"></i></a></li>
          <li class="list-group-item"><a
              href="https://m.facebook.com/luccas.pranteda?eav=AfbzaVq8Y-rJspw6RaxX2t_UPdiUw0Ae5QdiARn7qWJb9qtBqd1Z_j-JtClHMA9C1zI&ref=wizard&paipv=0"
              target="_blank"> <i class="fa-brands fa-facebook fa-2xl"></i></a></li>
          <li class="list-group-item"><a href="https://twitter.com/home" target="_blank"><i class="fa-brands fa-twitter fa-2xl"></i></a></li>
          <!-- Boton para enviar al login -->
          <li class="list-group-item">
            <a routerLink="/login"><i class="fa-solid fa-user-lock fa-2xl" type="button"></i></a>
          </li>
        </ul>
      </div>
  </nav>
  <!--finaliza Navbar-->
    <!--Formulario de login-->
    <section class="login">
      <div class="container text-center">
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-8 formulario-login">
            <div class="modal-body mt-5">
              <div class=" row">
                <label for="inputEmail" class="col-sm-2 col-form-label"><b>Correo electronico o usuario</b></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="staticEmail" value="example@gmail.com">
                </div>
              </div>
              <div class=" mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label"><b>Contraseña</b></label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword" value="contrazeña">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary"><b>Ingresar</b></button>
              </div>
            <small>No tenés cuenta <a href="registro">registrate</a> aca!!</small>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer derechos de autor-->
    <footer class="bg-black text-white text-center fs-6">
      <div class="moverfooter">
        <p class="textfooter">& Copy Copyright Luccas Pranteda-2022</p>
      </div>
    </footer>