<!-- Empieza redes-->
<div class="col-10 mt-4">
    <div class="tab-content achicar" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-redes" role="tabpanel" aria-labelledby="list-redes-list">
            <div class="modal-content px-5">
                <div class="mb-3 row">
                    <label for="instagram" class="col-sm-2 col-form-label">Instagram</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="instagram">
                        <div class="modal-footer acomodarbotones">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
                            <button type="button" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="facebook" class="col-sm-2 col-form-label">Facebook</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="facebook">
                        <div class="modal-footer acomodarbotones">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
                            <button type="button" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="twitter" class="col-sm-2 col-form-label">Twitter</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="twitter">
                        <div class="modal-footer acomodarbotones">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
                            <button type="button" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="linkedin" class="col-sm-2 col-form-label">Linkedin</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="linkedin">
                        <div class="modal-footer acomodarbotones">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
                            <button type="button" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Finaliza redes-->