<!--Empieza acerca de mi-->
<div class="tab-pane fade moveracercademi" id="list-acercademi" role="tabpanel" aria-labelledby="list-acercademi-list">
    <div class="modal-content px-5">
      <div class="mb-3 row">
        <label for="acercademi" class="col-sm-2 col-form-label">A cerca de mi</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="info">
            </textarea>
          <div class="modal-footer acomodarbotones">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
            <button type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Finaliza acerca de mi-->
