.moveracercademi{
    margin-top: -25rem;
}
.footer2{ /* Acomoda el footer*/
    width: 100%;
    height: 15%;
    padding:0.5rem;
}
.moverfooter{ /*Mueve el footer hacias la derecha y izquierda*/
    margin-left: -3rem;
    margin-right: -0.75rem;
}