<!--Empieza proyectos-->
<div class="tab-pane fade" id="list-proyectos" role="tabpanel" aria-labelledby="list-proyectos-list">
    <div class="modal-content px-5">
      <div class="mb-3 row">
        <h2><u>Proyectos</u></h2>
        <label for="banner" class="form-label">Imagen 1</label>
        <div class="col-sm-10">
          <input class="form-control" type="file" id="bannerUno">
          <div class="modal-footer acomodarbotones">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
            <button type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="bannerDos" class="form-label">Imagen 2</label>
        <div class="col-sm-10">
          <input class="form-control" type="file" id="bannerDos">
          <div class="modal-footer acomodarbotones">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
            <button type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="bannerTres" class="form-label">Imagen 3</label>
        <div class="col-sm-10">
          <input class="form-control" type="file" id="bannerTres">
          <div class="modal-footer acomodarbotones">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
            <button type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
          <div class="mb-3 row">
            <label for="acercademi" class="col-sm-2 col-form-label">Componentes de la computadora</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="info">
                  </textarea>
              <div class="modal-footer acomodarbotones">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
                <button type="button" class="btn btn-primary">Guardar Cambios</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Finaliza Proyectos-->
