<!--Empieza Educacion-->
<div class="tab-pane fade" id="list-educacion" role="tabpanel" aria-labelledby="list-educacion-list">
    <div class="modal-content px-5">
      <div class="mb-3 row">
        <label for="educacionUno" class="form-label">Educación</label>
        <div class="col-sm-10">
          <input class="form-control" type="file" id="educacionUno">
          <div class="modal-footer acomodarbotones">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
            <button type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
          <label for="educacionDos" class="form-label"></label>
          <input class="form-control" type="file" id="educacionDos">
          <div class="modal-footer acomodarbotones">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
            <button type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--finaliza educacion-->
